<!DOCTYPE html>
<html>
	<head>
		<title>404 Not Found</title>
	</head>
	
	<body>
	
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse"> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</a> 

				<a class="brand topbar-links" style="margin-left: 0.5%">
						<input style="height:20px; " id="home" type="image" src="../static/images/lexisName.png"
								th:src="@{images/lexisName.png}" ng-click="initialFolder()"></input>
				</a>
				
			</div>
		</div>
	</div>
	<div align= "CENTER">
		<div>
			<img alt="" src="../static/images/ops.png"></img>
		</div>
		
		<div>
			<p>A página que você tentou acessar não foi encontrada.</p>
		</div>
	</div>
	
	<div class="footer">
		<div class="row-fluid">
			<footer>
				<div class="span12">
					<span>&copy; 2016 - Projeto SI - Lexis | Dev. Web</span>
				</div>
			</footer>
		</div>
	</div>
	
	</body>
</html>