<!DOCTYPE html>
<html ng-app="editor" xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR">

<title>Arquivo | Lexis Cloud Editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<meta name="description" content="Bootstrap test" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700"
	th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700}"
	rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Indie+Flower'
	rel='stylesheet' type='text/css' />



<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap-responsive.css"
	th:href="@{css/bootstrap-responsive.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/editor.css"
	th:href="@{css/editor.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/menu.css"
	th:href="@{css/menu.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/dialogbox.css"
	th:href="@{css/dialogbox.css}" />
	
</head>
<body ng-controller="editorCtrl">

	<div id="menuButton" onmouseover = "openMenu()">
	  <div></div>
	  <div></div>
	  <div></div>
	</div>
	<div id="menu" onmouseleave="closeMenu()">
		<ul>
			<li>
				<a ng-click = "InicialFolder()" align = "center">
					<span>
						<span>
							Meus Arquivos
						</span>
					</span>
				</a>
			</li>
			<li>	
				<a ng-click = "sharedWithMeFolder()">
					<span>
						<span>
							Arquivos compartilhados comigo
						</span>
					</span>
				</a>
				
			</li>
			
			<li>
				<a ng-click = "sharedFolder()">
					<span>
						<span>
							Meus arquivos compartilhados
						</span>
					</span>
				</a>
			</li>
			<li>	
				<a ng-click = "myAccount()">
					<span>
						<span>
							Minha Conta
						</span>
					</span>
				</a>
			</li>
			<li>	
				<a ng-click = "trashFolder()">
					<span>
						<span>
							Lixeira
						</span>
					</span>
				</a>
			</li>
		</ul>
	</div>

	<div id="dialogoverlay"></div>
	<div id="dialogbox">
	  <div>
	    <div id="dialogboxhead"></div>
	    <div id="dialogboxbody"></div>
	    <div id="dialogboxfoot"></div>
	  </div>
	</div> 
	
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".navbar-inverse-collapse"> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</a> 
				<a class="brand topbar-links" href="home" th:action="@{/home}" style="margin-left: 2%">
					<img src="..imagen/lexisName.pbg" th:src="@{../images/lexisName.png}"> </img>
				</a>
					
				<div class="nav-collapse collapse navbar-inverse-collapse">
					<form class="navbar-search pull-left" action="#">
						<input type="text" class="search-query span3" placeholder="Busca"></input>
					</form>
					<ul class="nav pull-right">
						<li><a href="/" th:action="@{/}"><b style="font-size:20px">Sair</b></a></li>
						<li class="divider-vertical"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container" >
		<div class="row" style="margin-top: 5%; margin-left: 10%">
			<div class="span8">
				<ul class="menu inline unlabeled">
					<li><a href="#">Novo Documento</a></li>
					<!--
             -->
					<li><a href="#">Salvar</a></li>
					<!--
             -->
					<li><a ng-click="getTxt()" href="#">Salvar como</a></li>
					<!--
             -->
             		<li><a href="#">Compartilhar</a></li>
             		
					<li><a href="#">Excluir</a></li>
					
				</ul>
			</div>
		</div>
	</div>

	<div class="container" style="">
		<div class="row">
			<div class="span12">
				<form action="#" method="get">
					<textarea name="textValue" class="input-text"></textarea>
				</form>
			</div>

		</div>
	</div>
	
	<script th:src="@{/js/menu.js}" src="../static/js/menu.js"></script>
	<script th:src="@{/js/dialogbox.js}" src="../static/js/dialogbox.js"></script>

	<div class="footer">
		<div class="row-fluid">
			<footer>
				<div class="span12">
					<span>&copy; 2016 - Projeto SI - Lexis | Dev. Web</span>
				</div>
			</footer>
		</div>
	</div>
	
	<script th:src="@{/js/angular.min.js}" src="../static/js/angular.min.js"></script>	
	<script th:src="@{/js/EditorController.js}" src="../static/js/EditorController.js"></script>
	
	
</body>
</html>