<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR">
	<title>Home | Lexis Cloud Editor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="UTF-8"/>
	<meta name="description" content="Bootstrap test"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-responsive.css" th:href="@{css/bootstrap-responsive.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" />

</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3 nav-left-panel no-margin">
				<div class="header left-panel">
					<h3 class="explorer-header-text">Explorer2</h3>
				</div>
			</div>
			<div class="span9 list-files">
				<h1>fodase</h1>
			</div>
			
		</div>
	</div>

	<div id="topbar">
		<div class="row">
			<div class="span1">
			<a href="" class="topbar-link">home</a>	
				
			</div>
			<div class="span1">
				<a href="" class="topbar-link">Detalhes da conta</a>	
			</div>
			<div class="span10"></div>

		</div>
	</div>

</body>
</html>