<!DOCTYPE html>
<html ng-app="inicial" xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR">

    <title>Lexis Cloud Editor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="UTF-8"/>
	<meta name="description" content="Bootstrap test"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700}" rel="stylesheet" type="text/css" />

	

	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-responsive.css" th:href="@{css/bootstrap-responsive.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" />
</head>
<body>
	<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse"
						data-target=".navbar-inverse-collapse"> <span class="icon-bar"></span>
						<span class="icon-bar"></span> <span class="icon-bar"></span>
					</a>
					<div class="nav-collapse collapse navbar-inverse-collapse">
						<ul class="nav pull-right">
							<li class="divider-vertical"></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
	<div class="header">
		<div class="row-fluid">
			<header>
				<div class="" style="margin-left:5%">
					<img src="../images/logo150150.png" th:src="@{../images/logo150150.png}" alt="" class="logo"></img>
					
				</div>
			</header>
		</div>
	</div>
	
	<div  size="20px"  align="center" class="alert alert-danger" th:text="${mensagemerror}" th:if="${not #strings.isEmpty(mensagemerror)}"></div>
	<div  size="20px"  align="center" class="alert alert-success" th:text="${mensagemsuccess}" th:if="${not #strings.isEmpty(mensagemsuccess)}"></div>
	<div  align="center" class="alert alert-danger" th:if="${#bools.isTrue(param.error)}">erro de login</div>

	<div class="row-fluid principal" >
		<div ng-controller="RegisterCtrl" class="span4 offset1 sign-up" id="sign-up"  align="center">
			<h2 class="sign-up " style="margin-right: 10%">Registrar</h2>
			<form th:object="${userRegister}" th:action="@{/userRegister}" method="POST">
				<label for="login" style="margin-right: 27%">Login: </label>
				<input type="text" name="login" id="login-sign-up" th:field="*{login}"></input>
				<label for="password" style="margin-right: 22%">Password: </label>
				<input type="password" name="password" id="password-sign-up" th:field="*{password}"></input>
				<label for="email" style="margin-right: 27%">Email: </label>
				<input type="text" name="email" id="email-sign-up" th:field="*{email}"></input>
				<input type="submit" class="button" name="sign-up" value="Register" style="margin-right: 19%"></input>				
			</form>
		</div >
		<div class="span1 divisor" ><img src="../static/images/div.png" th:src="@{images/div.png}" alt=""></img></div>
		
		<div ng-controller="loginCtrl" class="offset2 span3 sign-in">
			<h2 class="sign-in">Login </h2>
			<form  th:action="@{login}" method="POST">
				<label for="login">Login: </label>
				<input type="text" name="login" ng-model="login"></input>
				<label for="senha">Senha: </label>
				<input type="password" name="password" ng-model="password"></input>
				<input type="submit" class="button" name="sign-in" value="Entrar" ng-click="validation()"></input>
			</form>
		</div>
	</div>

	<div class="footer">
		<div class="row-fluid">
			<footer>
				<div class="span12">
					<span>&copy; 2016 - Projeto SI - Lexis | Dev. Web</span>
				</div>
			</footer>
		</div>
	</div>

	<script th:src="@{/js/angular.min.js}" src="../static/js/angular.min.js"></script>
	<script th:src="@{/js/LoginController.js}" src="../static/js/LoginController.js"></script>

</body>
</html>