body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

a:link, a:active, a:visited {
	color:; #315e8a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #1f3c58;
	font-weight: 500;
	margin: 15px 0 10px 0;
}

ul li, ol li {
	margin-bottom: 5px;
}

ul.inline li, ol.inline li {
	display: inline;
	margin: 15px;
}

ul.inline li:last-child, ol.inline li:last-child {
	margin-right: 0;
}

ul.unlabeled, ol.unlabeled { /* sem-marcador */
	list-style: none;
}

a.button, input.button {
	background: #1f3c58;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: none;
}

a.button:hover, input.button:hover {
	background: #315e8a;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

th {
	text-align-last: center;
}

td {
	text-align-last: center;
}


#topbar {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: #222222;
	top: 0; left: 0; right: 0;
}


.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.header.left-panel {
	left: 0px;
	top: 100px;
	margin: auto;
	background-color: #1f3c58;
	height: 100px;
}

h3.explorer-header-text {
	color: black;
	font-weight: 500;
}

.nav-left-panel {
	position: absolute;
	height: calc(100% - 50px);
	background-color: #AAAAAA;
	left: 0px;
}

.list-files {
	height: calc(100% - 50px);
}

.logo {
	padding-left: 40%;
}

.extra-content {
	background: #f1f2ea;
}


.principal {
	padding-top: 10px;

}

.footer {
	position: fixed;
	width: 100%;
	background: #1f3c58;
	color: #ebebeb;
	padding: 30px 0;
	text-align: center;
	font-weight: 100;
}

.menu {
	text-transform: uppercase;
	text-align: right;
	margin-top: 20px;
}

.menu li a {
	padding: 5px 10px;
	border-radius: 3px;
}

.menu li a:hover {
	text-decoration: none;
	background: #1f3c58;
	color: #ebebeb;
}


.sign-in {
	margin: 0 auto;
}

#sign-up {

}

.sign-up {
	margin: 0 auto;
}

.sign-up label, .sign-in label {
	display: block;
	font-size: 13px;
	font-weight: 300;
}

.sign-up input, .sign-in input {
	display: block;
	margin-bottom: 15px;
	padding: 5px 2%;
	width: 30%;
}
.sign-up input.button, .sign-in input {
	width: auto;
}

.divisor {
	padding-left: 5%;
	margin: 0 auto;
	width: 1%;
	
}

#td-name {
	text-align-last: initial;	
}










